{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}留言板{% endblock %}
{% block name %}
    <span class="matt">Matt</span>〡<span class="cont">留言板</span>
{% endblock%}

{% block main %}

{% for message in get_flashed_messages() %}
<div class="alert alert-info flash">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<!-- <div class="text-left">
{{ render_form(form, button_map = {'submit':'danger'}, extra_classes = 'message') }}
</div> -->
<div class="row featurette message">
    <div class="col-md-6 text-left">
        {{ render_form(form, button_map = {'submit':'danger'}, extra_classes = 'message') }}
    </div>
    <div class="col-md-6">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
        <image xlink:href="{{ url_for('static', filename='education.png') }} "width="100%" height="100%"/>
      </svg>
    </div>
</div>






<div class="text-center total"  style = " margin-top: 10%; margin-bottom: 35px;">
    總共有{{ messages | length}}筆留言
</div>
<div class="list-group">
    {% for message in messages %}
        <a class="list-group-item list-group-item-action flex-column mylist">
            <div class="d-flex w-100 justify-content-between">
                <span class="name">{{message.name}}</span>
            </div>
        </a>
    {% endfor %}
</div>    

<center ><div class="divider1"></div></center>


{% endblock %}
